Repository spring-cloud/spring-cloud-aws, pull requests merged in 2020-09, with the labels that each got.

#653 Depend on `core` module only in Secrets Manager and Parameter Store integrations.
  spring-cloud-starter-aws-parameter-store-config/pom.xml
  spring-cloud-starter-aws-secrets-manager-config/pom.xml
Labels: component: parameter-store, component: secrets-manager, type: bug

#637 Handling custom type labels in headers from Binary/String message attributes. Fix gh-410 [v2].
  docs/src/main/asciidoc/spring-cloud-aws.adoc
  spring-cloud-aws-messaging/src/main/java/org/springframework/cloud/aws/messaging/core/QueueMessageUtils.java
  spring-cloud-aws-messaging/src/test/java/org/springframework/cloud/aws/messaging/core/QueueMessageUtilsTest.java
Labels: component: sqs, type: enhancement

#663 Rename to SimpleEmailAutoConfiguration
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/mail/SimpleEmailAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/resources/META-INF/spring.factories
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/mail/SimpleEmailAutoConfigurationTest.java
Labels: component: ses

#671 Add region configuration property to cloudwatch
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/metrics/CloudWatchExportAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/metrics/CloudWatchProperties.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/metrics/CloudWatchExportAutoConfigurationTest.java
Labels: component: cloudwatch, type: enhancement

#672 Add region configuration property to simpleemail
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/mail/SimpleEmailAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/mail/SimpleEmailProperties.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/mail/SimpleEmailAutoConfigurationTest.java
Labels: component: ses, type: enhancement

#673 Add region configuration property to sns
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/messaging/SnsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/messaging/SnsProperties.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/messaging/SnsAutoConfigurationTest.java
Labels: component: sns, type: enhancement

#674 Add region configuration property to sqs
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/messaging/SqsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/messaging/SqsProperties.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/messaging/SqsAutoConfigurationTest.java
Labels: component: sqs, type: enhancement

#670 Fix conditional on SimpleEmailAutoConfiguration
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/mail/SimpleEmailAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/mail/SimpleEmailAutoConfigurationTest.java
Labels: component: ses, type: enhancement
